[Unit]
Description = Repeat Network and Device Monitoring for FFmpeg Live streaming
After = wake-push.service
Requires = wake-push.service

[Timer]
OnActiveSec = 10s
OnUnitActiveSec = 10s
AccuracySec=1
Unit = fflive-monitor.service

[Install]
WantedBy = multi-user.target
